Update Server HTTP 40x error codes for consistency

Since the UI now treats 401 as "not logged in" and 403 as "missing permissions" we need to make sure that all our API responses use the correct status code at the right time.

This is causing some problems where, for example calling `/api/users/{UserId}` for non administrators results in a 401 causing the user to be redirected back to the login page.

Source: http://help.octopusdeploy.com/discussions/problems/42056

As per discussion in slack:


*TL/DR*
_If user has not logged in or invalid/fake/expired permissions we return 401 (so that UI can know when to direct to login)_
_If user has provided credentials but they lack permissions we return 403?_

401 
>  ... indicates that the request has not been applied because it lacks valid authentication credentials for the target resource.
> If the request included authentication credentials, then the 401 response indicates that authorization has been refused for those credentials (RFC7325)

403 
>  server that receives valid credentials that are not adequate to gain access ought to respond with the 403 (Forbidden) status code (Section 6.5.3 of [RFC7231])

(This obsoletes original definitions of RFC2616)

I think part of the confusion stems from the fact that the definitions of  Authentication and Authorization are in the context of HTTP/1.1 & refers only to HTTP authentication protocols based on the challenge-response headers WWW-Authenticate and Authorization



Release Note: Only invalid or missing credentials should return 401 so that a login redirect can automatically take place. Any permissions related issues should return 403.